body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
}
.container {
    max-width: 398px;
    height: 844px;
    margin: 0 auto;
    background-color: #efe3e3;
    padding-bottom: 70px;
    border: 2px solid black;
    position: relative;
}
.container .clock {
    background-color: white;
    border-bottom: 1px solid black;
    padding: 3px 0;
}
.top-bar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}
.btn {
      background: none;
      border: none;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      color: #000;
}
.save {
      color: #7a4fff;
}
.top-bar h2 {
    margin: 0;
    font-weight: bold;
}
.profile {
      display: flex;
      justify-content: center;
      margin: 60px 0;
}
.profile img {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: #ddd;
}
.group{
    margin: 10px 15px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
.form-group {
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 60%;
    padding: 8px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid orange;
    background-color: transparent;
    outline: none;
}
.name {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
}
.card {
    background-color: #f4f1f1;
    margin: 10px 15px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
.card span {
    color: #ff914d;
}
#editName, #editPhone, #editGroup, #editBirthday, #editEmail {
    border: none;
    border-bottom: 1px solid orange;
    background-color: #efe3e3;
    height: 40px;
}

.editCard {
    margin: 10px 15px;
    border-radius: 10px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.editCard > .editCard-content {
    display: flex; 
    justify-content: space-between;
    margin-top: 15px;
}

.editButton {
    position: absolute; 
    bottom: 50px;
    width: 330px;
    height: 50px;
    background-color: rgb(255, 122, 122);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}